:root {
    --main-color: rgb(71, 168, 50);
}

/* FAVICON STYLING */
.icon-container {
    display: flex;
    overflow-x: scroll;
    margin: 10px;
}

.icon {
    margin: 15px;
    text-align: center;
}

.favicon-home {
    border: 1px solid var(--main-color);
    height: 90px;
    border-radius: 50%;
    transition: 1s;
}
    .favicon-home:hover {
        transform: rotateY(180deg);
        transition: 0.75s ease-in-out;
    }

.favicon-card-a {
    text-decoration: none;
    color: black;
    transition: 0.25s;
}
    .favicon-card-a:hover {
        color: var(--main-color);
        transition: 0.25s;
    }


.section-title-p {
    font-size: medium;
    font-weight: 500;
}   

.container-food-parent {
    display: flex;
    flex-direction: row;
    padding: 10px;
    overflow-x: scroll;
}

.food-container {
    margin: 10px;
    width: 175px;
}

.food-card {
    text-decoration: none;
    text-align: center;
    transition: 0.5s ease-out;
    border-radius: 20px;
    border: none;
    box-shadow: none;
    background: none;
}
    .food-container:hover {
        /* box-shadow: 2px 2px 2px 2px var(--main-color); */
        transform: translateY(-5px) translateX(-5px);
        transition: 0.5s ease-out;
    }
    
.restaurant-img {
    height: 15vh;
    width: 175px;
    border-radius: 5px 5px 0px 0px;
}

.rest-name {
    background: rgb(218, 213, 213);
    width: 175px;
    height: 5vh;
    color: black;
    text-decoration: none;
    border-radius: 0px 0px 5px 5px;
}

#li-address {
    color: black;
    text-align: center;
}

.order-btn {
    background-color: var(--main-color) !important;
    color: white !important;
}

.menu-food-wrapper {
    right: 0;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.menu-food-img {
    /* height: 150px; */
    width: 200px;
    border-radius: 5px 5px 0px 0px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.home-ul {
    columns: 2 !important;
}



label {
    display:block;
    border:solid 1px gray;
    color: rgb(84, 111, 160);
    line-height:40px;
    /* height:40px; */
    width: 200px;
    border-radius: 0px 0px 5px 5px;
    -webkit-font-smoothing: antialiased; 
    margin-top: -10px;
    font-family:Arial,Helvetica,sans-serif;
    color:gray;
    text-align:center;
}

input[type=checkbox] {
    display: none;
}

input:checked + label {
    border: solid 1px var(--main-color);
    color: var(--main-color);
}

input:checked + label:before {
    content: "\2713 ";
}

/* new stuff */
.check {
    visibility: hidden;
}

input:checked + label .check {
    visibility: visible;
}

input.checkbox:checked + label:before {
    content: "";
}

footer {
    width: 100vw !important;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 5vh !important;
}

.footer-ul {
    color: white;
    list-style-type: none !important;
}

.footer-title {
    color: var(--main-color);
}

.vegan-favicon {
    height: 25px;
    padding: 5px;
}

.icon-def-container {
    margin: 10px;
}